:root {
  --accent: #e24301;
}

header h1 {
    background-image: url("eduvpn_logo.png");
    background-repeat: no-repeat;
    color: transparent;
}

@media (prefers-color-scheme: dark) {
    header h1 {
        background-image: url("eduvpn_logo_dark.png");
    }
}

span.error {
    color: darkred;
}

span.success {
    color: darkgreen;
}

span.fade {
    color: lightgray;
}

span.awesome {
    color: lightgreen;
}

span.warning {
    color: darkorange;
}

dt {
       font-weight: bold;
}

td {
       vertical-align: top;
}

dl {
       margin: 0;
}
